/screenshots            export-ignore
/.gitignore             export-ignore
/AkismetMediawiki.wiki  export-ignore
/LICENSE                export-ignore
/README.md              export-ignore
/README.ru.md           export-ignore
